<div class="main-container w-full">
  <app-widget-container class="min-h-[300px]"
                        [isLoading]="isLoadingWidget"
                        [title]="'mods.manage' | translate">
    <nz-divider [nzText]="'mods.create'|translate" nzOrientation="left"></nz-divider>

    <form nz-form [formGroup]="createModForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="username">{{'auth.username'|translate}}</nz-form-label>
        <nz-form-control>
          <div class="flex">
            <input nz-input
                   formControlName="username"
                   id="username"/>
            <button nz-button nzType="primary"
                    [nzLoading]="isLoadingSubmitBtn"
                    [disabled]="!createModForm.valid"
                    class="mx-10px"
                    type="submit">
              {{'common.submit'|translate}}
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-container *ngIf="createdUser">
      <nz-alert nzType="info" nzMessage="{{'mods.create-info'|translate}}" class="mb-20px"></nz-alert>

      <nz-alert nzType="success" [nzMessage]="SuccessAlert">
        <ng-template #SuccessAlert>
          <div>
            {{'auth.username'|translate}}: {{createdUser.username}}
          </div>
          <div>
            {{'auth.password'|translate}}: {{createdUser.password}}
          </div>
          <div>
            {{'mods.mod-login-link' | translate}}: {{createdUser.link}}
            <button nz-button
                    nzType="dashed"
                    class="!inline mx-10px"
                    (click)="onCopyLink()"
                    [disabled]="!createdUser.link">
              <div class="w-[40px]">
                {{ copyBtnText | translate}}
              </div>
            </button>
          </div>
        </ng-template>
      </nz-alert>
    </ng-container>

    <nz-divider [nzText]="'mods.list'|translate" nzOrientation="left"></nz-divider>

    <app-table [listOfData]="modsList"
               [headers]="[
               'auth.username'|translate,
               'mods.surveys'|translate,
               'common.operation'|translate,
               ]"
               [tableCells]="[td_username,td_surveys,td_operations]"
    ></app-table>
    <ng-template #td_username let-data="data">
      <div>{{data.username}}</div>
    </ng-template>
    <ng-template #td_surveys let-data="data">
      <pre *ngIf="data.surveys">{{data.surveys | json}}</pre>
    </ng-template>
    <ng-template #td_operations let-data="data">
      <div class="flex gap-10px justify-center">
        <button nz-button nzType="default" nzDanger >{{"mods.delete"|translate}}</button>
      </div>
    </ng-template>

  </app-widget-container>
</div>
