<div class="outer-container flex justify-center items-center h-[80vh]">
  <div class="inner-container bg-white rounded-xl p-[30px] w-[340px] flex h-fit">
    <form nz-form [formGroup]="validateForm" class="login-form w-full" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" [placeholder]="'auth.username'|translate" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" [placeholder]="'auth.password'|translate" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="mb-10px">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>{{ 'auth.remember-me'|translate }}</span>
          </label>
        </div>
<!--        <div nz-col [nzSpan]="12">-->
<!--          <a class="login-form-forgot">{{ 'auth.forgot-password'|translate }}</a>-->
<!--        </div>-->
      </div>
      <button nz-button class="w-full justify-center mb-10px" [nzType]="'primary'">{{'auth.submit-account' | translate}}</button>
      <a [routerLink]="['../login']">{{ 'auth.login-with-account'|translate }}</a>
    </form>

  </div>

</div>
